@charset "utf-8";
@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/desktop_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Escoredream";
}
/* app */
#app {
  background-image: url(./images/app_bg1.png);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 360px;
  height: 640px;
  border: 4px solid #fff;
  border-radius: 1rem;
  box-shadow: 6px 0 8px -4px rgba(0, 0, 0, 0.2),
    0 6px 8px -4px rgba(0, 0, 0, 0.2);
  /* app score */
  div.quiz-end {
    width: 19rem;
    height: 11rem;
    padding: 0.6rem;
    margin: 0.7rem;
    gap: 0.6rem;
    text-align: center;
    background: linear-gradient(
      182deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    backdrop-filter: blur(22px) saturate(180%);
    /* -webkit-backdrop-filter: blur(22px) saturate(180%);
    --light-angle: 180deg; */
    border-radius: 2rem;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.7),
      inset 0 -1px 3px rgba(255, 255, 255, 0.15), 0 4px 14px rgba(0, 0, 0, 0.08);
  }
}
h1 {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
h2 {
  font-size: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}
#categories {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 0;
    gap: 0.5rem;

    li {
      cursor: pointer;
      margin: 0.5rem 0;
      border-radius: 2rem;
      padding: 10px;
      width: 190px;
      height: 35px;
      background-color: #fff;
      color: #ff9ec5;
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 1.2;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.3),
        /* 안쪽 하이라이트 */ 0 8px 20px rgba(255, 158, 197, 0.5); /* 외부 그림자 */
      border: 1px solid rgba(255, 255, 255, 0.3);
      transition: filter 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        color: #ff71aa;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(24px);
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
}

#quiz-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  .qustion {
    display: flex;
    width: 20rem;
    height: 11rem;
    padding: 0.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(28px) saturate(150%);
    -webkit-backdrop-filter: blur(28px) saturate(150%);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.7),
      /* 윗면 하이라이트 */ inset 0 -1px 3px rgba(255, 255, 255, 0.15),
      /* 아랫면 은은한 입체 */ 0 4px 14px rgba(0, 0, 0, 0.08); /* 외부 그림자 */
    /* 퀴즈번호 */
    h3 {
      font-size: 1.7rem;
      margin-top: 1.5rem;
      color: #ff71aa;
    }

    /* 퀴즈문제 */
    p.q-text {
      width: 20rem;
      height: 9rem;
      padding: 1rem;
      color: #ff71aa;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      /* border-radius: 3rem; */
      /* background-color: rgba(255, 255, 255, 0.4); */
    }
  }

  /* 4문항 */
  .choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    li {
      display: flex;
      width: 20rem;
      height: 3.9rem;
      /* padding: 0.5rem 0.6rem; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;
      border-radius: 2rem;
      border: #fff solid 0.5px;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(28px) saturate(150%);
      -webkit-backdrop-filter: blur(28px) saturate(150%);
      box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.7),
        /* 윗면 하이라이트 */ inset 0 -1px 3px rgba(255, 255, 255, 0.15),
        /* 아랫면 은은한 입체 */ 0 4px 14px rgba(0, 0, 0, 0.08); /* 외부 그림자 */
      cursor: pointer;
      transition: 0.25s ease;
      font-weight: 600;
      font-size: 1.2rem;
      color: #ff71aa;
      &:hover {
        background-color: #fff;
      }
    }
  }
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem;
  .quiz-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      color: #ff9ec5;
      font-weight: 600;
      font-size: 1.5rem;
    }
    h2 {
      color: #ff71aa;
      font-size: 3rem;
    }
  }
  button {
    all: unset;
    margin: 1rem;
    width: 9.5rem;
    height: 2.1rem;
    padding: 0.4rem 0.8rem;
    gap: 0.4rem;
    border-radius: 2rem;
    border: #fff solid 0.5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(28px) saturate(150%);
    -webkit-backdrop-filter: blur(28px) saturate(150%);
    box-shadow:
      inset 0 1px 2px rgba(255, 255, 255, 0.7), /* 윗면 하이라이트 */
      inset 0 -1px 3px rgba(255, 255, 255, 0.15), /* 아랫면 은은한 입체 */
      0 4px 14px rgba(0, 0, 0, 0.08);  /* 외부 그림자 */
    cursor: pointer;
    transition: 0.25s ease;
    --light-angle: 45deg;
    border: 1px solid #fff;
    color: #ff9ec5;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    &:hover {
      color: #ff71aa;
      background-color: #fff;
      border: 1px solid #fff;
    }
  }
}

@media all and (max-width: 360px) {
  #app {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}
